*

#GIT RELATED
!.gitignore
!.git/

#ETC
!etc/
!etc/hosts
!etc/rc.conf
!etc/resolv.conf
!etc/locale.gen
!etc/fstab

!etc/portage/
!etc/portage/make.conf
!etc/portage/package.accept_keywords
!etc/portage/package.license
!etc/portage/package.use


!etc/conf.d/
!etc/conf.d/hwclock
!etc/conf.d/keymaps
!etc/conf.d/hostname
!etc/conf.d/net

#KERNEL CONFIG
!usr/
!usr/src/
!usr/src/linux/
!usr/src/linux/.config

